<h2 style="text-align: center;">Here Are Some Details</h2>

<div style="font-size: 18px; text-align: center;">
  <b>Recipe: </b> {{object.recipe_name}} <br>
  <b>Ingredients: </b> {{object.ingredients}} <br>
  <b>Cooking Time: </b> {{object.cooking_time}} minutes<br>
  <br>
  <br>
</div>

<div style="text-align: center;">
  <img src="{{object.pic.url}}" width="200" height="300" />
</div>
<br>
<br>
<br>

<div style="text-align: center; font-size: 21px;">
  <a href="{% url 'recipes:list' %}">Go Back to Recipes' List</a>
</div>