{% load static %}

<!DOCTYPE html>
<html>
<title>
  Recipes Home
</title>
<header>
  <h1 style="text-align: center;">Welcome to the Recipe App</h1>
</header>

<body>
  <h3 style="text-align: center;">Here you can create and store all of your favorite recipes at your fingertips!</h3>
  <br>
  <img src="{% static 'recipes/images/Food1.jpg' %}" alt="home" width="400" height="200">
  <img src="{% static 'recipes/images/Food2.jpg' %}" alt="home" width="400" height="200">
  <img src="{% static 'recipes/images/Food3.jpg' %}" alt="home" width="400" height="200">
  <img src="{% static 'recipes/images/Food4.jpg' %}" alt="home" width="400" height="200">
</body>

</html>